/**
  Переменные для цветов
 */

$primary: #0D2273;
$secondary: #E8EFFD;
$success: #28a745;
$danger: #eb3323;
$warning: #ffc107;
$info: #eef3fa;
$dark: #343a40;
$muted: #9DA4AE;
$light: #f8f9fa;
$white: #fff;
$purple: #7F68C8;
$black: #000;
$brown: #AC7D75;
