<footer class="footer">
    <div class="footer__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-nav__wrapper d-flex justify-content-between">
                        <ul class='footer-nav__list nav-list'>
                            <p class="nav-list__title" class="title">Company</p>
                            <li class="nav-list__item"><a class="nav-list__link" href="about.html">About Us</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Blog</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Contact Us</a></li>
                        </ul>
                        <ul class='footer-nav__list nav-list'>
                            <p class="nav-list__title" class="title">Business</p>
                            <li class="nav-list__item"><a class="nav-list__link" href="signup.html">Login</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="signup.html">Sign Up</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="faq.html#organization">FAQ</a>
                            </li>
                        </ul>
                        <ul class='footer-nav__list nav-list'>
                            <p class="nav-list__title" class="title">Staff</p>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Get App</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="faq.html#individual">FAQ</a></li>
                        </ul>
                        <ul class='footer-nav__list nav-list'>
                            <p class="nav-list__title" class="title">Other</p>
                            <li class="nav-list__item"><a class="nav-list__link" href="terms.html">Privacy Policy</a>
                            </li>
                            <li class="nav-list__item"><a class="nav-list__link" href="terms.html">Terms of Use</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Roadmap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__download download d-flex justify-content-end">
                        <a class="download__link me-3" href="#">
                            <img class="download__img" src="img/google-play.svg" alt="Google-Play">
                        </a>
                        <a class="download__link" href="#">
                            <img class="download__img" src="img/app-store.svg" alt="App-store">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-footer">
        <div class="footer__download download d-flex justify-content-start mb-4 ps-2">
            <a class="download__link me-3" href="#">
                <img class="download__img" src="img/google-play.svg" alt="Google-Play">
            </a>
            <a class="download__link" href="#">
                <img class="download__img" src="img/app-store.svg" alt="App-store">
            </a>
        </div>
        <div class="accordion footer-accordion" id="accordion">
            <div class="accordion-item footer-accordion__item">
                <h2 class="accordion-header footer-accordion__header" id="one">
                    <button class="accordion-button footer-accordion__button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        Company
                    </button>
                </h2>
                <div id="collapse-one" class="accordion-collapse collapse show  footer-accordion__collapse"
                    aria-labelledby="one" data-bs-parent="#accordion">
                    <div class="accordion-body footer-accordion__body">
                        <ul class="footer-accordion__text nav-list">
                            <li class="nav-list__item"><a class="nav-list__link" href="about.html">About Us</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Blog</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item footer-accordion__item">
                <h2 class="accordion-header footer-accordion__header" id="two">
                    <button class="accordion-button footer-accordion__button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="false"
                        aria-controls="collapse-two">
                        Business
                    </button>
                </h2>
                <div id="collapse-two" class="accordion-collapse collapse footer-accordion__collapse"
                    aria-labelledby="two" data-bs-parent="#accordion">
                    <div class="accordion-body footer-accordion__body">
                        <div class="footer-accordion__text nav-list">
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="signup.html">Login</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="signup.html">Sign Up</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="faq.html">FAQ</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item footer-accordion__item">
                <h2 class="accordion-header footer-accordion__header" id="three">
                    <button class="accordion-button collapsed footer-accordion__button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="false"
                        aria-controls="collapse-three">
                        Staff
                    </button>
                </h2>
                <div id="collapse-three" class="accordion-collapse collapse footer-accordion__collapse"
                    aria-labelledby="three" data-bs-parent="#accordion">
                    <div class="accordion-body footer-accordion__body">
                        <div class="footer-accordion__text nav-list">
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#">Get App</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="faq.html">FAQ</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item footer-accordion__item">
                <h2 class="accordion-header footer-accordion__header" id="four">
                    <button class="accordion-button collapsed footer-accordion__button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="false"
                        aria-controls="collapse-four">
                        Other
                    </button>
                </h2>
                <div id="collapse-four" class="accordion-collapse collapse footer-accordion__collapse"
                    aria-labelledby="four" data-bs-parent="#accordion">
                    <div class="accordion-body footer-accordion__body">
                        <div class="footer-accordion__text nav-list">
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="terms.html">Privacy Policy</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="terms.html">Terms of Use</a>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__link" href="#">Roadmap</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__copyright footer-copyright">
        <div class="container">
            <p class="footer-copyright__text">&copy Rosterd 2021. All rights reserved</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="js/app.js"></script>