<!-- header-nav -->
<header class="header position-fixed w-100">
  <nav class="navbar navbar-expand-lg bg-white py-3">
    <div class="container">
      <a class="logo navbar-brand d-flex" href="index.html">
        <img class="logo__img" src="img/logo.svg" alt="Logotype">
        <p class="logo__text m-0">rosterd</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="header-nav navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#how-works">How it works</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#organizations">Organizations</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="about.html">Staff</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#contact">Contact</a>
          </li>
        </ul>
        <div class="d-flex button-group">
          <button class="button-group__business-login button-group__button" type="submit">Business Login</button>
          <button class="button-group__sign-up button-group__button" type="submit" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Sign Up</button>
        </div>
      </div>
    </div>
  </nav>
</header>



<include src="src\templates\modals.html"></include>