<!-- header-nav -->
<header class="wrapper-outer header">
  <nav class="wrapper-inner header__wrapper">
    <a href="index.html" class="header__logo logo">
      <img class="logo__img" src="../img/logo.svg" alt="Logotype">
      <p class="logo__text">rosterd</p>
    </a>
    <ul class="header__nav nav">
      <li class="nav__item"><a href="#" class="nav__link home ">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">How it works</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Organizations</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Staff</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
    </ul>
<div class="header__buttons button-group">
  <button class="button-group__business-login btn" type="button" >Business Login</button>
  <button class="button-group__sign-up btn" type="button" >Sign Up</button>
</div>
  </nav>
</header>
<!-- / header-nav -->