<!-- header-nav -->
<header class="header position-fixed w-100">
  <div id="header-nav" class="navigation navbar navbar-expand-lg bg-white py-3">
    <div class="container">
      <a class="logo navbar-brand d-flex" href="index.html">
        <img class="logo__img" src="img/logo.svg" alt="Logotype" />
        <p class="logo__text m-0">rosterd</p>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="header-nav navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link home active" aria-current="page" href="/">Home</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="/#how-works">How it works</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="/#organizations">Organizations</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="/#app-works">Staff</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="/#contact">Contact</a>
          </li>
        </ul>
        <div class="d-flex button-group">
          <!-- <button class="button-group__business-login button-group__button" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Business Login
          </button> -->
          <a href="signup.html" class="button-group__sign-up button-group__button" type="submit" >Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div id="outer">
    <div class="hamburger">
      <div class="nav-toggle">
        <div class="nav-toggle-bar"></div>
      </div>
      <nav id="hamburgerNav" class="hamburgerNav">
        <ul id="mobile-nav" class="header-nav">
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="signup.html">Sign Up as organisation</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="signup.html">Sign Up as staff member</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="/#how-works">How it works</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="/#organizations">For Organisations</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="about.html">For Staff</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="faq.html">F.A.Q</a>
          </li>
          <li class="hamburger__item  nav-item">
            <a class="hamburger__link  nav-link" href="signup.html">Contact us</a>
          </li>
        </ul>
        <!-- <div class="hamburger__button-group">
          <button
            class="button-group__business-login hamburger__button button-group__button"
            type="submit"
            data-bs-toggle="modal"
            data-bs-target="/#exampleModal"
          >
            Business Login
          </button>
        </div> -->
      </nav>
    </div>
  </div>
</header>
