<!-- header-nav -->
<header class="header position-fixed w-100">

  <nav class="navbar navbar-expand-lg bg-white py-3">
    <div class="container">
      <a class="logo navbar-brand d-flex" href="index.html">
        <img class="logo__img" src="../img/logo.svg" alt="Logotype">
        <p class="logo__text m-0">rosterd</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="header-nav navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#how-works">How it works</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#organizations">Organizations</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="about.html">Staff</a>
          </li>
          <li class="header-nav__item nav-item">
            <a class="header-nav__link nav-link" href="index.html#contact">Contact</a>
          </li>
        </ul>
        <div class="d-flex button-group">
          <button class="button-group__business-login button-group__button" type="submit">Business Login</button>
          <button class="button-group__sign-up button-group__button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Sign Up</button>
        </div>

      </div>
    </div>
  </nav>
</header>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="bg-light modal__bg-light"></div>
        <button type="button" class="btn-close modal__btn-close border" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <h5 class="modal-title modal__title text-center" id="exampleModalLabel">I want to sign up as</h5>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="modal-card">
                <div class="modal-card__icon organization-icon"></div>
                <h5 class="modal-card__title">I am looking for staff</h5>
                <button class="modal-card__button" type="button">Organization</button>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="modal-card">
                <div class="modal-card__icon staff-icon"></div>
                <h5 class="modal-card__title">I am looking for shifts</h5>
                <button class="modal-card__button" type="button">Staff member</button>

              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
<!-- // Modal -->