<!-- Modal-nav -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="bg-light modal__bg-light"></div>
                <button type="button" class="btn-close modal__btn-close border" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <h5 class="modal-title modal__title text-center" id="exampleModalLabel">I want to sign up as</h5>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="signup.html" class="modal-card">
                                <div class="modal-card__icon organization-icon"></div>
                                <h5 class="modal-card__title">I am looking for staff</h5>
                                <button class="modal-card__button" type="submit">Organization</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="signup.html" class="modal-card">
                                <div class="modal-card__icon staff-icon"></div>
                                <h5 class="modal-card__title">I am looking for shifts</h5>
                                <button class="modal-card__button" type="submit">Staff member</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Modal-nav -->


<!-- Modal-success -->
<div class="modal start-0 top-20 fade" id="modalSucces" tabindex="-1" aria-labelledby="ModalSuccesLabel"
    aria-hidden="true">
    <div class="modal-dialog success">
        <div class="modal-content success__content">
            <div class="modal-body success__body">
                <form action="index.html" class="success__form">
                    <div class="modal-card__icon  success__icon"></div>
                    <h5 class="success__title">Request has been sent</h5>
                    <p class="success__text">Thank you! Your request has been sent and one of our dedicated team member
                        will shortly contact you</p>
                    <button class="success__button" type="submit">Got it</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- // Modal-success -->