// .app-btn
// {
//     text-transform: uppercase;
//     font-weight: 400;
//     font-size: 1.4em;
//     position: relative;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     width: 180px;
//     max-width: 100%;
//     height: 55px;
//     border-radius: 6px;
//     border: 1px solid #fff;
//     outline: 0!important;
//     transition: .15s ease;
//     background: transparent;

//     &:hover
//     {
//         color: #000;
//         background: #fff;
//     }

//     &-danger
//     {
//         border: 1px solid transparent;
//         color: #fff;
//         background: $danger;

//         &:hover
//         {
//             border-color: $danger;
//             color: $danger;
//             background: transparent;
//         }
//     }

//     &-dark
//     {
//         border: 1px solid #000;
//         color: #000;
//         background: transparent;

//         &:hover
//         {
//             color: #fff;
//             background: #000;
//         }
//     }

//     &:active
//     {
//         transform: scale(.85);
//     }
// }

.button-group {
    .btn {
        padding: 0.5em 1em;
        font-size: 1em;
        border-radius: 8px;
        transition: 0.2s linear;
    }
    &__business-login {
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
        font-weight: 600;
        &:hover {
            box-shadow: 0 0 0 3px $primary inset;
        }
    }
    &__sign-up {
        margin-left: 1em;
        background-color: $primary;
        color: $white;
        border: 1px solid $primary;
        &:hover {
            box-shadow: 0 0 0 2px white, 0 0 0 4px $primary;
        }
    }
}
