.button-group {
    &__button {
        padding: 0.5em 1em;
        font-size: 1em;
        border-radius: 8px;
        transition: 0.2s linear;
    }
    // &__business-login {
    //     background-color: #fff;
    //     border: 1px solid #0d2273;
    //     color: #0d2273;
    //     font-weight: 600;
    //     &:hover {
    //         box-shadow: 0 0 0 3px $primary inset;
    //     }
    // }
    &__sign-up {
        margin-left: 1em;
        background-color: $primary;
        color: $white;
        border: 1px solid $primary;
        &:hover {
            box-shadow: 0 0 0 2px white, 0 0 0 4px $primary;
            color: #fff;
        }
    }
}

.modal-card {
    &__button {
        padding: 0.5em 1em;
        font-size: 1em;
        color: #fff;
        background-color: #0D2273;
        border-radius: 8px;
        transition: 0.2s linear;
    }
}
