.page-about-us {
  margin: 10em 0 7em 0;
  @include mq("desktop-wide", max) {
    margin: 8em 0 5em 0;
  }
  img {
    width: 50%;
    border-radius: 50%;
  }
  &__wrapper {
    width: 74%;
    margin: 0 auto;
    @include mq("desktop-wide", max) {
      width: 100%;
    }
  }
  .about {
    margin-bottom: 6em;
    @include mq("desktop-wide", max) {
      margin-bottom: 4em;
    }
    &__title {
      margin-bottom: 1em;
      text-align: center;
      &-left {
        text-align: left;
      }
    }

    &__text {
      margin-bottom: 1.5em;
      color: #25282b;
    }
  }
  .gallery {
    margin-bottom: 4em;
    text-align: center;
    &__title {
      margin-bottom: 1em;
    }
    .employee {
      margin-bottom: 2.5em;
      font-size: 1em;
      &__img {
        margin-bottom: 1em;
      }
      &__name {
        font-weight: 600;
        margin-bottom: 0.5em;
      }
      &__position {
        font-weight: 400;
      }
    }
  }
}
