.faq {
    margin: 12em 0 10em 0;
    .faq-body {
        &__title {
            font-size: 2.5em;
            font-weight: 700;
            text-align: center;
            color: #25282b;
            margin-bottom: 1.5em;
            @include mq("tablet", max) {
                font-size: 1.5em;
            }
        }
    }
    .faq-tab {
        justify-content: center;
        margin-bottom: 4em;
        border: none;
        &__link {
            font-size: 1.25em;
            font-weight: 600;
            color: #25282b;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            outline: 0;
            border: none;
            border-color: #2edbad;
            transition: 0.3s linear;
            &:focus {
                border-bottom: 2px solid #2edbad;
            }
            &:hover {
                border-bottom: 2px solid #2edbad;
            }
            @include mq("tablet", max) {
                font-size: 1em;
            }
            @include mq("phone-small", max) {
                font-size: .9em;
            }
            &.active {
            border: none;
            font-size: 1.25em;
            font-weight: 700;
            color: #0d2273;
            border-bottom: 2px solid #2edbad;
            @include mq("tablet", max) {
                font-size: 1.1em;
            }
            @include mq("phone-small", max) {
                font-size: 1em;
            }
        }
        }
        &__content {
            padding: 0 15em;
            @include mq("desktop-wide", max) {
                padding: 0 4em;
            }
            @include mq("tablet", max) {
                padding: 0;
            }
        }
    }
    .faq-accordion {
        &__item {
            border: 0;
            border-top: 1px solid #bdbdbd;
            border-bottom: 1px solid #bdbdbd;
        }
        .accordion-button:not(.collapsed) {
            background-color: #fff;
            border: none;
            color: #0d2273;
            font-weight: 700;
            box-shadow: none;
            &::after {
                background: url(/img/accordion-minus.svg);
                background-size: 1.25rem;
                height: 2px;
            }
        }
        &__button {
            font-size: 20px;
            font-weight: 400;
            color: #25282b;
            padding: 1.5em 0;
            transition: 0.1s ease;
            @include mq('tablet', max) {
                font-size: 16px;
            }
            &::after {
                background: url(/img/accordion-plus.svg);
                background-size: 1.25rem;
                background-repeat: no-repeat;
                margin-right: 1em;
            }
            &:focus {
                box-shadow: none;
            }
        }
        &__body {
            padding: 0;
            padding-bottom: 1.5em;
        }
        &__text {
            padding-right: 4em;
            @include mq('tablet', max) {
                padding-right: 2em;
            }
        }
    }
}
