// === HEADER-NAV ===
.header {
    box-shadow: 0 5px 6px -5px $muted;
    z-index: 10;
    .logo {
        &__img {
            width: 24px;
            height: 28px;
            margin-right: 0.5em;
        }
        &__text {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 1.25em;
            color: #0e2478;
        }
    }
    .header-nav {
        &__item {
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
        &__link {
            font-family: "OpenSans";
            font-weight: 400;
            font-size: 1em;
            color: #000000;

            &:active {
                font-weight: 700;
                color: #0d2273;
            }

            &:hover {
                background-color: #e8effd;
                border-radius: 8px;
            }
        }
        .active {
            color: #0d2273;
        }
    }
}
// === / HEADER-NAV ===
