// === HEADER-NAV ===
.header {
    box-shadow: 0 5px 6px -5px $muted;
    z-index: 10;
    .logo {
        &__img {
            width: 24px;
            height: 28px;
            margin-right: 0.5em;
        }
        &__text {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 1.25em;
            color: #0e2478;
        }
    }
    .header-nav {
        &__item {
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
        &__link {
            font-family: "OpenSans";
            font-weight: 400;
            font-size: 1em;
            color: #000000;

            &:active,
            &.active {
                font-weight: 700;
                color: #0d2273;
            }

            &:hover {
                background-color: #e8effd;
                border-radius: 8px;
            }
            &.home {
                color: #0d2273;
            }
        }
    }
}
// === / HEADER-NAV ===

// === HAMBURGER ===

.hamburger {
    display: none;

    @include mq("tablet-wide", max) {
        display: block;
    }
    &__item {
        border-bottom: 1px solid #e8e8e8;
        margin: 0;
    }
    &__link {
        padding: 1em 1.5em 1.5em 1.5em;
        font-weight: 400;
        font-size: 1em;
        color: #000;
    }
    &__button-group {
        padding: 2em 1.5em 1em 1.5em;
        border-top: 1px solid #e8e8e8;
    }
    &__button {
        width: 100%;
    }
}

.shadow {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    bottom: 79px;
    transition: all 0.5s ease;
    &::after {
        content: " ";
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#body {
    &.overflow-hidden {
    overflow: hidden;
}
}


.hamburgerNav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #fff;
    cursor: pointer;
    height: 100vh;
    left: -20rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0;
}


.hamburgerNav.expanded {
    left: 0;
}

.hamburgerNav ul {
    position: relative;
}

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 1rem;
    right: 2rem;
    position: fixed;
    top: 2rem;
    z-index: 2;
    width: 30px;
    @include mq("phone", max) {
        right: 1rem;
    }
    
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: black;
    content: "";
    height: 2px;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.5rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.5rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: #2edbad;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

// === / HAMBURGER ===
