// === COMMON ===
p,
h4 {
    margin: 0;
}
.title {
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
}

.title-secondary {
    font-size: 2.5em;
    font-weight: 700;
}

.subtitle {
    font-size: 1.25em;
    font-weight: 700;
}

.text {
    font-size: 1em;
    font-weight: 400;
}

body {
    @include mq("desktop-wide", max) {
        font-size: 0.9rem;
    }
    @include mq("desktop", max) {
        font-size: 1rem;
    }

    @include mq("phone", max) {
        font-size: 0.9rem;
    }
}

// === / COMMON ===

// === SECTION-HEADER ===
.section-header {
    margin-top: 12em;
    padding-bottom: 6em;
    @include mq("tablet-wide", max) {
        margin-top: 10em;
    }

    &__wrapper {
        @include mq("desktop", max) {
            background-color: #e8effd;
        }
    }

    &__inner {
        position: relative;
        background-color: #e8effd;
        border-radius: 16px;
    }
    .info {
        padding: 3rem 0 3rem 3rem;
        @include mq("desktop", max) {
            width: 100%;
            padding: 5em;
            text-align: center;
            padding: 2em 6em;
        }
        @include mq("tablet", max) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            padding: 1em 1em 1em 0;
        }
        @include mq("tablet-small", max) {
            padding-left: 0.75em;
        }

        &__title {
            font-size: 4.2em;
            font-weight: 800;
            @include mq("tablet-small", max) {
                font-size: 3.7em;
            }
            @include mq("phone-small", max) {
                font-size: 3em;
            }
        }
        &__text {
            font-size: 1em;
            padding: 1.5em 6em 1em 0;
            margin-bottom: 5em;
            @include mq("desktop", max) {
                margin-bottom: 3em;
            }
            @include mq("tablet-wide", max) {
                padding: 1em 0em 0em 0;
            }
            @include mq("phone-wide", max) {
                padding: 0.75em 1em 0em 0;
            }
        }
        span {
            font-weight: 700;
            color: #2edbad;
        }
        .links {
            margin-bottom: 3em;
            @include mq("phone", max) {
                width: 100%;
            }
            @include mq("phone-small", max) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
            img {
                @include mq("phone", max) {
                    width: 150px;
                }
            }
            @include mq("desktop", max) {
                margin-bottom: 0;
            }
            @include mq("tablet", max) {
                display: flex;
                justify-content: space-between;
            }
            &__app-store {
                padding: 1em 0.5em 1em 0;
                @include mq("phone-small", max) {
                    padding-right: 0;
                }
            }
            &__google-play {
                padding: 1em 0 1em 0.5em;
                @include mq("phone-small", max) {
                    padding-left: 0;
                }
            }
        }
    }
    .banner {
        &__img {
            object-fit: contain;
            position: absolute;
            bottom: 0;
            right: -4.5em;
            @include mq("desktop-wide", max) {
                right: -70px;
            }
            @include mq("desktop-small", max) {
                right: 0;
            }
            @include mq("desktop", max) {
                display: none;
            }
        }
    }
}
// ===  / SECTION-HEADER ===

// === MANAGE ===
.section-manage {
    background-color: #f8f8f8;
    padding: 4em 0 6em 0;
    @include mq("tablet-wide", max) {
        padding: 3em 0 3em 0;
    }
    &__title {
        margin-bottom: 2em;
        font-size: 2.3em;
        @include mq("phone-small", max) {
            font-size: 2em;
        }
    }
    .card {
        background-color: #ffffff;
        border-radius: 16px;
        padding: 1.5em 2em 2em 2em;
        border: 1px solid #e9e9e9;
        box-shadow: 0px 4px 5px 0px rgba(221, 227, 252, 1);
        height: 100%;
        @include mq("tablet-wide", max) {
            display: flex;
            align-items: flex-start;
        }
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background: #e8effd !important;
            margin-bottom: 1.5em;
            @include mq("desktop-wide", max) {
                width: 80px;
                height: 80px;
            }
            @include mq("tablet-wide", max) {
                width: 64px;
                height: 64px;
            }
        }
        &__subtitle {
            margin-bottom: 1em;
        }
        &__text {
            @include textClamp(5, 100px);
            text-align: left;
        }
    }

    .mobile-none {
        display: none;
        @include mq("tablet-wide", min) {
            display: block;
        }
    }

    // *** SLIDER ***
    .swiper {
        display: none;
        width: 100%;
        height: 100%;
        padding: 0 2em;
        @include mq("tablet-wide", max) {
            display: block;
        }
        @include mq("tablet", max) {
            padding: 0 0.75em;
        }
    }

    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        @include mq("tablet", max) {
            width: 80% !important;
            height: 310px !important;
        }
        img {
            @include mq("tablet-wide", max) {
                width: 40px !important;
                height: 40px !important;
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 60%;
        @include mq("tablet", max) {
            margin-right: 1em !important;
        }
    }

    // *** / SLIDER ***
}
// ===  / MANAGE ===

// === ABOUT ===
.section-about {
    padding: 6em 0 7em 0;
    &__title {
        margin-bottom: 2em;
    }
    .iframe {
        width: 920px;
        @include mq("tablet-wide", max) {
            width: 100%;
        }
        @include mq("tablet", max) {
            width: 100%;
            height: 215px;
            padding: 0 0.75em;
        }
    }
}
// ===  / ABOUT ===

// === START ===
.section-start {
    background-color: #e8effd;
    padding: 6em 0 4.5em 0;
    &__info-title {
        font-size: 1.25em;
        margin-bottom: 1em;
        @include mq("tablet", max) {
            display: none;
        }
    }
    &__mobile-text {
        font-weight: 600;
        font-size: 1.25em;
        color: #000;
        margin-bottom: 0.75em;
        @include mq("tablet", min) {
            display: none;
        }
    }
    &__title {
        margin-bottom: 3em;
        @include mq("desktop", max) {
            margin-bottom: 2em;
        }
        @include mq("tablet-wide", max) {
            font-size: 2.3em;
        }
        @include mq("tablet", max) {
            padding-right: 1em;
        }
    }
    &__wrapper {
        text-align: center;
        position: relative;
        width: 50%;
        .before:before {
            content: "";
            position: absolute;
            display: block;
            top: 22%;
            right: 50%;
            width: 80%;
            border-top: 2px dashed #0d2273;
            @include mq("desktop-small", max) {
                display: none;
            }
        }
        .start-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 160px;
                width: 160px;
                border-radius: 100%;
                background-color: #0d2273;
                margin-bottom: 2em;
                @include mq("tablet", max) {
                    width: 80px;
                    height: 80px;
                }
            }
            &__img {
                @include mq("tablet", max) {
                    width: 36px;
                    height: 40px;
                }
            }
            &__subtitle {
                margin-bottom: 1em;
            }
            &__text {
                @include mq("desktop", max) {
                    padding: 0 4em 2em 4em;
                }
                @include mq("tablet", max) {
                    padding: 0;
                    padding-bottom: 2em;
                }
            }
        }
    }
    .mobile-wrapper {
        @include mq("desktop", max) {
            flex-direction: column;
            align-items: center;
        }
        @include mq("tablet", max) {
            flex-direction: column;
            align-items: center;
        }
    }
    .mobile-inner {
        @include mq("tablet", max) {
            flex-direction: column;
            align-items: center;
        }
    }
}
// ===  / START ===

// === APP-WORKS ===
.app-works {
    position: relative;
    padding: 6rem 0 30rem 0;
    overflow: hidden;
    @include mq("desktop-wide", max) {
        padding-bottom: 10em;
    }
    @include mq("tablet-wide", max) {
        padding-bottom: 2em;
        padding-top: 3em;
    }
    &__title {
        margin-bottom: 6rem;
        @include mq("tablet-wide", max) {
            margin-bottom: 3rem;
        }
    }
    .staff,
    .dashboard {
        &__title {
            margin-bottom: 2em;
            font-size: 1.25em;
        }
        .list {
            &__item {
                position: relative;
                margin-bottom: 1.5em;
                font-size: 1em;
                font-weight: 400;
                padding-left: 4rem;
                height: 40px;
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: -8px;
                    left: 0;
                    border-radius: 30px;
                    background-image: url(/img/staff__checked.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    text-align: center;
                    background-color: #e8effd;
                }
            }
        }
    }

    .mobile-wrapper {
        margin-bottom: 15em;
        @include mq("tablet-wide", max) {
            margin-bottom: 10em;
        }
        @include mq("tablet", max) {
            margin-bottom: 5em;
        }
    }

    .laptop-wrapper {
        @include mq("tablet-wide", max) {
            flex-direction: column-reverse;
        }
    }

    &__pos-a {
        position: absolute;
        right: -160px;
        @include mq("tablet-wide", max) {
            position: relative;
            margin-bottom: 7em;
            right: -225px;
        }
    }

    .image-block {
        position: absolute;
        left: 0;
        @include mq("desktop-wide", max) {
            left: -100px;
        }
        @include mq("tablet-wide", max) {
            position: relative;
            left: -175px;
            margin-bottom: 1em;
        }
        @include mq("phone-small", max) {
        }
        &__img-buttons {
            position: absolute;
            top: 20%;
            z-index: 3;
            left: 32%;
        }
        &__img {
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            width: 548px;
            height: 548px;
            display: block;
            position: absolute;
            bottom: 0;
            border-radius: 100%;
            background-color: #e8effd;
            z-index: 1;
        }

        &__img-buttons {
            @include mq("tablet", max) {
                display: none;
            }
        }
    }

    .dashboard-img {
        position: absolute;
        right: 0;
        @include mq("tablet-wide", max) {
            position: relative;
        }
        @include mq("tablet", max) {
            right: 230px;
        }
        &::after {
            content: "";
            width: 732px;
            height: 732px;
            display: block;
            position: absolute;
            bottom: 50%;
            transform: translate(50%, 50%);
            right: 300px;
            border-radius: 100%;
            background-color: #e8effd;
            z-index: 1;
            @include mq("tablet", max) {
                right: 100px;
                width: 550px;
                height: 550px;
            }
            @include mq("phone", max) {
                right: 40px;
            }
            @include mq("phone-small", max) {
                right: 0;
            }
        }
        &__img {
            height: 473px;
            width: 722px;
            position: relative;
            z-index: 3;
            @include mq("tablet", max) {
                height: 400px;
                width: 600px;
            }
        }
        &__img-buttons {
            position: absolute;
            z-index: 3;
            top: 32%;
            left: 0;
            @include mq("desktop-wide", max) {
                left: 100px;
            }
            @include mq("tablet", max) {
                display: none;
            }
        }
        &__img-button {
            position: absolute;
            &.top {
                bottom: 0;
                left: -80px;
            }
            &.center {
                top: 20px;
                left: -40px;
            }
            &.bottom {
                top: 130px;
                left: -75px;
            }
        }
    }
}
// ===  / APP-WORKS ===

// === CONTACT ===
.contact {
    position: relative;
    padding: 6em 0;
    background-color: #e8effd;
    @include mq("desktop-wide", max) {
        padding: 3em 0;
    }
    .information {
        padding-left: 7em;
        @include mq("desktop-wide", max) {
            padding-left: 1.75em;
            margin-top: 4em;
        }
        @include mq("tablet-wide", max) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 6em;
        }
        @include mq("tablet", max) {
            padding: 0;
            padding-left: 0.75em;
        }
        @include mq("phone", max) {
            display: flex;
            flex-direction: column;
        }
        &__title-wrapper {
            display: flex;
            justify-content: flex-start;
        }
        &__title {
            font-size: 2.5em;
            margin-bottom: 1.5em;
            padding-bottom: 0.3em;
            border-bottom: 2px solid rgba(46, 219, 173, 1);
            @include mq("desktop-wide", max) {
                margin-bottom: 1em;
            }
        }
        .information-card {
            &__icon {
                height: 72px;
                width: 72px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background-color: #0d2273;
            }
        }
        .details {
            margin-left: 2em;
            @include mq("phone", max) {
                margin-left: 1em;
            }
            &__title {
                font-size: 1em;
                color: #52575c;
                margin-bottom: 0.5em;
            }
            &__link {
                font-size: 1.5em;
                font-weight: 600;
                color: #52575c;
                @include mq("desktop-small", max) {
                    font-size: 1.2em;
                }
            }
        }
    }
    &__pos-a {
        position: absolute;
        right: 0;
        bottom: 0;
        @include mq("desktop-wide", max) {
            position: relative;
        }
        @include mq("tablet-wide", max) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .form-group {
        width: 515px;
        position: relative;
        z-index: 3;
        padding: 3em;
        border: 1px solid #e9e9e9;
        border-radius: 16px;
        background-color: #ffffff;
        align-items: flex-start;
        @include mq("tablet", max) {
            width: 100%;
        }
        &__title {
            margin-bottom: 1em;
        }
        &__label {
            font-size: 1em;
            font-weight: 600;
            color: #272727;
        }
        &__input {
            background-color: #f3f7fe;
            padding: 1em;
            border-radius: 8px;
            margin-bottom: 1.5em;
            &::placeholder {
                font-size: 1em;
                font-weight: 400;
            }
            &:focus {
                background-color: #fff;
            }
        }
        textarea {
            margin-bottom: 2.5em;
        }
        &__button {
            color: #ffffff;
            align-self: flex-start;
            background-color: #0d2273;
            padding: 0.5em 1.5em;
            border-radius: 8px;
        }
    }
    .mobile-position {
        @include mq("desktop-wide", max) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}
// ===  / CONTACT ===
