// === COMMON ===
.wrapper-outer {}
.wrapper-inner {
    max-width: 1440px;
    margin: 0 auto;
}
// === / COMMON ===


// === SECTION-HEADER ===
.section-header {
    margin-top: 8em;
}
// ===  / SECTION-HEADER ===

// === MANAGE ===
.section-manage {}
// ===  / MANAGE ===

// === ABOUT-APP ===
.section-about-app {}
// ===  / ABOUT-APP ===

// === GET-STARTED ===
.section-get-started {}
// ===  / GET-STARTED ===

// === APP-WORKS ===
.section-app-works {}
// ===  / APP-WORKS ===

// === CONTACT-US ===
.section-contact-us {}
// ===  / CONTACT-US ===

