// === TERMS AND POLICY ===
.terms {
    margin: 10em 0 5em 0;
    color: #25282b;
    .terms-nav {
        display: block;
    }
    .terms-aside {
        width: 25%;
        padding-right: 3em;
        .list {
            display: block;
            &__item {
                padding: 0.5em;
            }

            &__link {
                font-size: 1em;
                font-weight: 400;
                color: #000;

                &:active,
                &.active {
                    color: #2edbad;
                }
            }
        }
    }
    .terms-body {
        &__title {
            font-size: 1.75em;
            font-weight: 700;
            text-align: left;
            margin-bottom: 1em;
        }
        &__subtitle {
            font-size: 1em;
            font-weight: 400;
            margin-bottom: 2em;
        }
        &__link {
            color: #0d6efd;
            text-decoration: underline;
        }
        &__text {
            margin-bottom: 1em;
        }
    }
    .terms-nav {
        @include mq("desktop-wide", max) {
            display: none;
        }
    }
    .content {
        margin-bottom: 2em;
        &__title {
            font-weight: 700;
        }
        &__title-head {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 1em;
        }
        &__text {
            margin-bottom: 1em;
        }
        li {
            margin-bottom: .3em;
        }
    }
}
// === / TERMS AND POLICY ===
